{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Create Account</title>
    <link rel="stylesheet" href="{% static 'adminpanel/css/adminPages.css' %}">
</head>
<body>
        <div class="navbarHome">
        <h1>HomeZapp</h1>
        <div>
            <a href="{% url 'homepage' %}">Homepage</a> |
            <a href="{% url 'loginPage' %}">Register/Login</a> |
            <a href="{% url 'seller_login_page' %}">Seller Login</a> |
            <a href="{% url 'seller_register_page' %}">Create Seller Account</a> |
            <a href="{% url 'dashboard_redirect' %}">Dashboard</a> |
            <a href="{% url 'contact_page' %}">Contact</a>
            
        </div>
    </div>
    <h1>Admin Create Account</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p style="color:green;">{{ success }}</p>
    {% endif %}

    <div>
        <form method="post">
            {% csrf_token %}
            <label for="adminName">Admin Name:</label><br>
            <input type="text" id="adminName" name="adminName"><br><br>

            <label for="adminEmail">Email:</label><br>
            <input type="text" id="adminEmail" name="adminEmail"><br><br>

            <label for="adminPass">Password:</label><br>
            <input type="password" id="adminPass" name="adminPass"><br><br><br>

            <input type="submit" value="Create Admin Account">
        </form>
    </div>
</body>
</html>