{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'adminpanel/css/adminPages.css' %}">
</head>
<body>
        <div class="navbarZap">
        <nav>
        <h2><a href="{% url 'homepage' %}">HomeZapp</a></h2>
        <div>
            
            <a href="{% url 'contact_page' %}">Contact</a>
            
        </div>
        </nav>
    </div>

    <h1>Admin Login</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <div>
        <form method="post">
            {% csrf_token %}
            <label for="adminEmail">Email:</label><br>
            <input type="text" id="adminEmail" name="adminEmail"><br><br>

            <label for="adminPass">Password:</label><br>
            <input type="password" id="adminPass" name="adminPass"><br><br><br>

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>