{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Listing Details Page</title>
<link rel="stylesheet" href="{% static 'css/generalPages.css' %}">
</head>
<body>
    <h1>Listing Details Page</h1>
    <div class="listingImage"><img src="house-stock-photo.jpg"></div>
    <p>Listing Number: 5555</p>
    <p>Date Added: 1/11/2001</p>
    <p>Address: 111 Eleven Road, One Town, Maine, 65432</p>
    <p>Price: $222,222</p>
    <p>Room Description:</p>
    <ul>
        <li>Bedrooms: 4</li>
        <li>Bathrooms: 5</li>
        <li>Square Footage: 20,000</li>
    </ul>
    <p>Architecture Style: Colonial</p>
    <p>Seller Description: This home..</p>

    <div class="listingComparisonWrapper">
        <p>Compare Listing</p>
        <form>
            <label for="compareTo">Select Saved Listing:</label><br>
            <select id="compareTo" name="compareTo">
                <option value="saved-listing-1">Saved Listing 1</option>
                <option value="saved-listing-2">Saved Listing 2</option>
                <option value="saved-listing-3">Saved Listing 3</option>
            </select>
                
                <br><br><br>
            

            <input type="submit">
        </form>
    </div>
    <p><a href="#">Save Listing</a></p>
    <p><a href="#">Report Listing</a></p>



</body>
</html>
