<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/loginPage.css' %}">
</head>

<body>
    <nav style="font-size: 14px; margin-bottom: 20px;">
<p><a href="{% url 'homepage' %}">Back to Homepage</a></p>
<p><a href="{% url 'seller_login_page' %}">Seller Login</a></p>
<p><a href="{% url 'seller_register_page' %}">Create Seller Account</a></p>
<p><a href="{% url 'admin_login_page' %}">Admin Login</a></p>
<p><a href="{% url 'admin_create_account_page' %}">Create Admin Account</a></p>
    </nav>

    <h1>Login to HomeZapp</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p style="color:green;">{{ success }}</p>
    {% endif %}

    <div>
        <form action="{% url 'loginPage' %}" method="post">
            {% csrf_token %}

            <p>
                <label for="login_email">Email:</label><br>
                <input type="text" id="login_email" name="email" placeholder="Enter your email">
            </p>

            <p>
                <label for="login_password">Password:</label><br>
                <input type="password" id="login_password" name="password" placeholder="Enter your password">
            </p>

            <p>
                <button type="submit">Login</button>
            </p>

        </form>
    </div>

    <h2>Create your HomeZapp account!</h2>

    <div>
        <form action="{% url 'registerPage' %}" method="post">
            {% csrf_token %}

            <p>
                <label for="register_email">Email:</label><br>
                <input type="text" id="register_email" name="email" placeholder="Enter your email">
            </p>

            <p>
                <label for="register_password">Password:</label><br>
                <input type="password" id="register_password" name="password" placeholder="Enter your password">
            </p>

            <p>
                <button type="submit">Register</button>
            </p>

        </form>
    </div>

    <hr>

    <h2>Admin Access</h2>

    <div>
        <p>
            <a href="{% url 'admin_login_page' %}">
                <button type="button">Admin Login</button>
            </a>
        </p>

        <p>
            <a href="{% url 'admin_create_account_page' %}">
                <button type="button">Create Admin Account</button>
            </a>
        </p>
    </div>

</body>
</html>