<!DOCTYPE html>
<html>
<head>
    <title>Seller Login</title>
</head>
<body>
        <div class="navbarHome">
        <h1>HomeZapp</h1>
        <div>
            <a href="{% url 'homepage' %}">Homepage</a> |
            <a href="{% url 'loginPage' %}">Register/Login</a> |
            <a href="{% url 'seller_login_page' %}">Seller Login</a> |
            <a href="{% url 'seller_register_page' %}">Create Seller Account</a> |
            <a href="{% url 'dashboard_redirect' %}">Dashboard</a> |
            <a href="{% url 'contact_page' %}">Contact</a>
            
        </div>
    </div>
    <h1>Seller Login</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <p>
            <label>Email:</label><br>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password:</label><br>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
</body>
</html>