{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Admin Ban User</title>
<link rel="stylesheet" href="{% static 'css/adminPages.css' %}">
</head>
<body>
    <h1>Ban User</h1>
    <div>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="uName" name="uName"><br><br>
            <label for="banReason">Reason for ban:</label><br>
            <input type="text" id="banReason" name="banReason"><br><br><br>
            <input type="submit">
        </form>
    </div>
   </body>
</html>
