{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Comparison Page</title>
    <link rel="stylesheet" href="{% static 'css/generalPages.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a href="{% url 'buyer_page' %}">Home</a> |
        <a href="{% url 'wishlist_page' %}">Cart</a> |
        <a href="{% url 'notifications_page' %}">Notifications</a> |
        <a href="{% url 'buyer_manageprofile' %}">Profile</a> |
        <a href="{% url 'logoutPage' %}">Logout</a>
    <h1>Comparison Page</h1><br>

    <div class="row">
        <div class="col-sm-6">
            {% if first_listing %}
                {% if first_listing.image %}
                    <div class="listingImage"><img src="{{ first_listing.image.url }}"></div>
                {% endif %}
                <p>Listing Number: {{ first_listing.id }}</p>
                <p>Date Added: {{ first_listing.created_at }}</p>
                <p>Address: {{ first_listing.location }}</p>
                <p>Price: ${{ first_listing.price }}</p>
                <p>Room Description:</p>
                <ul>
                    <li>Bedrooms: {{ first_listing.bedrooms }}</li>
                    <li>Bathrooms: {{ first_listing.bathrooms }}</li>
                    <li>Square Footage: {{ first_listing.square_footage }}</li>
                </ul>
                <p>Architecture Style: {{ first_listing.style }}</p>
                <p>Seller Description: {{ first_listing.description }}</p>
            {% endif %}
        </div>

        <div class="col-sm-6">
            {% if second_listing %}
                {% if second_listing.image %}
                    <div class="listingImage"><img src="{{ second_listing.image.url }}"></div>
                {% endif %}
                <p>Listing Number: {{ second_listing.id }}</p>
                <p>Date Added: {{ second_listing.created_at }}</p>
                <p>Address: {{ second_listing.location }}</p>
                <p>Price: ${{ second_listing.price }}</p>
                <p>Room Description:</p>
                <ul>
                    <li>Bedrooms: {{ second_listing.bedrooms }}</li>
                    <li>Bathrooms: {{ second_listing.bathrooms }}</li>
                    <li>Square Footage: {{ second_listing.square_footage }}</li>
                </ul>
                <p>Architecture Style: {{ second_listing.style }}</p>
                <p>Seller Description: {{ second_listing.description }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>